<p id="notice"><%= notice %></p>

<p>
  <strong><%= @user.username %></strong>
  
</p>

<p>
<% if @user.ratings.empty? %>
has not rated anything!
<% else %>
 has made <%= pluralize(@user.ratings.count, 'rating', 'ratings') %>, average score: <%= @user.average_rating %>
<% end %>
</p>

 <ul>
    <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
    <% end %>
  </ul>

<p> is a member of
 <% @user.memberships.each do |membership| %>
    <% beer_club = BeerClub.find(membership.beer_club_id)%>
   <%= beer_club.name %>, 
 <% end %> </p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', users_path %>
